.sidenav {
    background-color: #ebebeb;
    width: 200px;
}

.sidenav a{
    color: rgb(29, 29, 29);
}

.sidenav i{
    padding-right: 10px;
}

.content {
    padding: 16px;
    background-color: #FFF;
}